body {
    background-color: rgb(17, 15, 15);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

.tamanho {
    padding: 10PX 50PX;
}